node_modules
dist
bin
coverage
*.out
*.test
.git
.gitignore
*.log
.env
.env.*
!.env.example
.npmrc
.netrc
.git-credentials
.aws
.docker
.kube
.terraform
terraform.tfstate*
*.pem
*.key
*.tfvars
*.tfvars.json
*kubeconfig*
.deploy-secrets.*
.deploy-manifests.*
.docker-auth.*
